@import url('https://fonts.googleapis.com/css2?family=Rubik');
body{
    /* background-color: hsl(226, 43%, 10%); */
    background-color: white;
    font-family: 'Rubik'
}
.name-frame{
    /* background-color: hsl(246, 80%, 60%); */
    width: 20%;
    background-color: rgb(26,30,74);
    border-radius: 8% 8% 8% 8%;
}
.name{
    height: 200px;
    position: static;
}
.frame-1{
    background-color: hsl(53, 100%, 64%);
    display: flex;
    width: 50%;
    height: 50%;
}
.work{
    background-color: aqua;
}
.play{
    background-color: rgb(85, 193, 110);
}
.study{
    background-color: rgb(149, 51, 202);
}
.frame-2{
    background-color: hsl(23, 98%, 48%);
    display: flex;
    width: 50%;
    height: 50%;
}
.frames{
    display: flex;
    /* transform: translate(-50%, -50%); */
    /* justify-content: center; */
    /* height: 200px; */
    /* align-items: center; */
    /* position: absolute; */
    margin-left: 30vw;
    margin-top: 30vh;
}
.jeremy img{
    width: 35%;
    margin-left: 15px;
    margin-top: 20px;
    border: solid white 2px;
    border-radius: 50%;
}
.report{
    color: rgb(208, 190, 190);
    margin-bottom: 2px;
    margin-left: 15px;
}
.name1, .name2{
    color: rgb(254,254,255);
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 15px;
}
.daily-option, .weekly-option, .monthly-option{
    margin-top: 0px;
    /* padding-top: 10px; */
    margin-bottom: 1px;
    color: rgb(254,254,255);
    text-align: center;
    padding-top: 20px;
}
.name-frame-upper{
    height: 60%;
    background-color:  hsl(246, 80%, 60%);
    border-radius: 8%;
    /* margin-bottom: 0px; */
}
.name-frame-lower{
    /* margin-top: 0px; */
    background-color: rgb(26,30,74);
    height: 40%;
    border-radius: 0 0 8% 8%;
}